

#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/bt.h>
#include <dt-bindings/zmk/matrix_transform.h>

// Mode layer numbers
#define LAYER_000 0
#define LAYER_001 1
#define LAYER_010 2
#define LAYER_011 3
#define LAYER_100 4
#define LAYER_101 5
#define LAYER_110 6
#define LAYER_111 7

// Pinout
#define GPIO_PEDAL 10
#define GPIO_BLUETOOTH 0
#define GPIO_LAYER1 9
#define GPIO_LAYER2 8
#define GPIO_LAYER3 7

// Key bindings for different modes
#define L0_HOLD     LEFT_ARROW
#define L0_TAP      RIGHT_ARROW

#define L1_HOLD     UP_ARROW
#define L1_TAP      DOWN_ARROW

#define L2_HOLD     C_VOLUME_UP
#define L2_TAP      C_VOLUME_DOWN

#define L3_HOLD     C_AC_COPY
#define L3_TAP      C_AC_PASTE

#define L4_HOLD     C_AC_REDO
#define L4_TAP      C_AC_UNDO

#define L5_HOLD     C_PLAY_PAUSE
#define L5_TAP      C_PAUSE

#define L6_HOLD     C_BRIGHTNESS_INC
#define L6_TAP      C_BRIGHTNESS_DEC

#define L7_HOLD     N0
#define L7_TAP      N1


&mt {
    tapping-term-ms = <500>;
};

/ {

    macros {
        macro_bt_clr: macro_bt_clr {
            label = "ZM_macro_bt_clr";
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&bt BT_CLR>;
        };
        macro_bt_sel0: macro_bt_sel0 {
            label = "ZM_macro_bt_sel0";
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&bt BT_SEL 0>;
        };
    };

    behaviors {
       bt_ht: bluetooth_hold_tap {
           compatible = "zmk,behavior-hold-tap";
           label = "BLUETOOTH_HOLD_TAP";
           #binding-cells = <2>;
           tapping-term-ms = <2000>;
           bindings = <&macro_bt_clr &macro_bt_sel0>;
       };
        bluetooth_tapdance: tap_dance_mod_tap {
            compatible = "zmk,behavior-tap-dance";
            label = "TAP_DANCE_MOD_TAP";
            #binding-cells = <0>;
            tapping-term-ms = <200>;
            bindings = <&bt_ht 0 0>, <&bt BT_SEL 1>, <&bt BT_SEL 2>;
        };
    };

    chosen {
        zmk,kscan = &kscan0;
        zmk,matrix_transform = &default_transform;
    };

    kscan0: kscan_0 {
        compatible = "zmk,kscan-gpio-direct";
        label = "KSCAN0";

        input-gpios = <
            &xiao_d GPIO_PEDAL (GPIO_ACTIVE_LOW | GPIO_PULL_UP) 
            &xiao_d GPIO_BLUETOOTH (GPIO_ACTIVE_LOW | GPIO_PULL_UP)
            &xiao_d GPIO_LAYER1 (GPIO_ACTIVE_LOW | GPIO_PULL_UP) 
            &xiao_d GPIO_LAYER2 (GPIO_ACTIVE_LOW | GPIO_PULL_UP) 
            &xiao_d GPIO_LAYER3 (GPIO_ACTIVE_LOW | GPIO_PULL_UP) 
        >;
    };

    default_transform: matrix_transform {
        compatible = "zmk,matrix-transform";
        rows = <3>;
        columns = <1>;
        map = <
            RC(0,0)
            RC(0,1)
            RC(0,2)
            RC(0,3)
            RC(0,4)
        >;
    };

    keymap {
        compatible = "zmk,keymap";
        layer_000 {
            bindings = <
                &mt L0_HOLD L0_TAP
                &bluetooth_tapdance
                &mo LAYER_100
                &mo LAYER_010
                &mo LAYER_001
            >;
        };
        layer_001 {
            bindings = <
                &mt L1_HOLD L1_TAP
                &bluetooth_tapdance
                &mo LAYER_101
                &mo LAYER_011
                &none
            >;
        };
        layer_010 {
            bindings = <
                &mt L2_HOLD L2_TAP
                &bluetooth_tapdance
                &mo LAYER_110
                &none
                &mo LAYER_011
            >;
        };
        layer_011 {
            bindings = <
                &mt L3_HOLD L3_TAP
                &bluetooth_tapdance
                &mo LAYER_111
                &none
                &none
            >;
        };
        layer_100 {
            bindings = <
                &mt L4_HOLD L4_TAP
                &bluetooth_tapdance
                &none
                &mo LAYER_110
                &mo LAYER_101
            >;
        };
        layer_101 {
            bindings = <
                &mt L5_HOLD L5_TAP
                &bluetooth_tapdance
                &none
                &mo LAYER_111
                &none
            >;
        };
        layer_110 {
            bindings = <
                &mt L6_HOLD L6_TAP
                &bluetooth_tapdance
                &none
                &none
                &mo LAYER_111
            >;
        };
        layer_111 {
            bindings = <
                &mt L7_HOLD L7_TAP
                &bluetooth_tapdance
                &none
                &none
                &none
            >;
        };
    };
};