

#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/bt.h>
#include <dt-bindings/zmk/matrix_transform.h>

#define LEFT_RIGHT_LAYER 0
#define UP_DOWN_LAYER 1

#define GPIO_PEDAL 2
#define GPIO_LAYER 3
#define GPIO_BLUETOOTH 4

&mt {
    tapping-term-ms = <500>;
};

/ {

    macros {
        macro_bt_clr: macro_bt_clr {
            label = "ZM_macro_bt_clr";
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&bt BT_CLR>;
        };
        macro_bt_sel0: macro_bt_sel0 {
            label = "ZM_macro_bt_sel0";
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&bt BT_SEL 0>;
        };
    };

    behaviors {
       bt_ht: bluetooth_hold_tap {
           compatible = "zmk,behavior-hold-tap";
           label = "BLUETOOTH_HOLD_TAP";
           #binding-cells = <2>;
           tapping-term-ms = <200>;
           bindings = <&macro_bt_clr &macro_bt_sel0>;
       };
        td_mt: tap_dance_mod_tap {
            compatible = "zmk,behavior-tap-dance";
            label = "TAP_DANCE_MOD_TAP";
            #binding-cells = <0>;
            tapping-term-ms = <200>;
            bindings = <&bt_ht 0 0>, <&bt BT_SEL 1>, <&bt BT_SEL 2>, <&bt BT_CLR>;
        };
    };

//    behaviors {
//        bt_ht: bluetooth_hold_tap {
//            compatible = "zmk,behavior-hold-tap";
//            label = "BLUETOOTH_HOLD_TAP";
//            #binding-cells = <2>;
//            tapping-term-ms = <200>;
//            bindings = <&bt BT_CLR>, <&bt BT_SEL 0>;
//        };
//        td_mt: tap_dance_mod_tap {
//            compatible = "zmk,behavior-tap-dance";
//            label = "TAP_DANCE_MOD_TAP";
//            #binding-cells = <0>;
//            tapping-term-ms = <200>;
//            bindings = <&bt_ht>, <&bt BT_SEL 1>, <&bt BT_SEL 2>;
//        };
//    };

    chosen {
        zmk,kscan = &kscan0;
        zmk,matrix_transform = &default_transform;
        // zmk,backlight = &test_backlight;
    };

    // https://zmk.dev/docs/features/backlight
    // LED Pins: R=11, G=13, B=12
    // (https://github.com/mike1808/PIO_SEEED_Adafruit_nRF52_Arduino/blob/master/variants/Seeed_XIAO_nRF52840/variant.h)
    // test_backlight: gpioleds {
    //     compatible = "gpio-leds";
    //     label = "Backlight LEDs";
    //     gpio_led_0 {
    //         gpios = <&xiao_d 7 GPIO_ACTIVE_HIGH>;
    //         label = "Backlight LED 0"; 
    //     };
    // };


    kscan0: kscan_0 {
        compatible = "zmk,kscan-gpio-direct";
        label = "KSCAN0";

        input-gpios = <
            &xiao_d GPIO_PEDAL (GPIO_ACTIVE_LOW | GPIO_PULL_UP) 
            &xiao_d GPIO_LAYER (GPIO_ACTIVE_LOW | GPIO_PULL_UP) 
            &xiao_d GPIO_BLUETOOTH (GPIO_ACTIVE_LOW | GPIO_PULL_UP)
        >;
    };

    default_transform: matrix_transform {
        compatible = "zmk,matrix-transform";
        rows = <3>;
        columns = <1>;
        map = <
            RC(0,0)
            RC(0,1)
            RC(0,2)
        >;
    };

    keymap {
        compatible = "zmk,keymap";
        left_right_layer {
            bindings = <
                &mt LEFT_ARROW RIGHT_ARROW
                &mo UP_DOWN_LAYER
                &td_mt
            >;
        };
        up_down_layer {
            bindings = <
                &mt UP_ARROW DOWN_ARROW
                &none
                &td_mt
            >;
        };
    };
};