

#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/bt.h>
#include <dt-bindings/zmk/matrix_transform.h>

#define LEFT_RIGHT_LAYER 0
#define UP_DOWN_LAYER 1

#define GPIO_PEDAL 10
#define GPIO_BLUETOOTH 1
#define GPIO_LAYER1 9
#define GPIO_LAYER2 8
#define GPIO_LAYER3 7

#define L0_HOLD N0
#define L0_TAP N0
#define L1_HOLD N1
#define L1_TAP N1
#define L2_HOLD N2
#define L2_TAP N2
#define L3_HOLD N3
#define L3_TAP N3
#define L4_HOLD N4
#define L4_TAP N4
#define L5_HOLD N5
#define L5_TAP N5
#define L6_HOLD N6
#define L6_TAP N6
#define L7_HOLD N7
#define L7_TAP N7

&mt {
    tapping-term-ms = <500>;
};

/ {

    macros {
        macro_bt_clr: macro_bt_clr {
            label = "ZM_macro_bt_clr";
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&bt BT_CLR>;
        };
        macro_bt_sel0: macro_bt_sel0 {
            label = "ZM_macro_bt_sel0";
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&bt BT_SEL 0>;
        };
    };

    behaviors {
       bt_ht: bluetooth_hold_tap {
           compatible = "zmk,behavior-hold-tap";
           label = "BLUETOOTH_HOLD_TAP";
           #binding-cells = <2>;
           tapping-term-ms = <200>;
           bindings = <&macro_bt_clr &macro_bt_sel0>;
       };
        td_mt: tap_dance_mod_tap {
            compatible = "zmk,behavior-tap-dance";
            label = "TAP_DANCE_MOD_TAP";
            #binding-cells = <0>;
            tapping-term-ms = <200>;
            bindings = <&bt_ht 0 0>, <&bt BT_SEL 1>, <&bt BT_SEL 2>;
        };
    };

    chosen {
        zmk,kscan = &kscan0;
        zmk,matrix_transform = &default_transform;
        // zmk,backlight = &test_backlight;
    };

    // https://zmk.dev/docs/features/backlight
    // LED Pins: R=11, G=13, B=12
    // (https://github.com/mike1808/PIO_SEEED_Adafruit_nRF52_Arduino/blob/master/variants/Seeed_XIAO_nRF52840/variant.h)
    // test_backlight: gpioleds {
    //     compatible = "gpio-leds";
    //     label = "Backlight LEDs";
    //     gpio_led_0 {
    //         gpios = <&xiao_d 7 GPIO_ACTIVE_HIGH>;
    //         label = "Backlight LED 0"; 
    //     };
    // };


    kscan0: kscan_0 {
        compatible = "zmk,kscan-gpio-direct";
        label = "KSCAN0";

        input-gpios = <
            &xiao_d GPIO_PEDAL (GPIO_ACTIVE_LOW | GPIO_PULL_UP) 
            &xiao_d GPIO_BLUETOOTH (GPIO_ACTIVE_LOW | GPIO_PULL_UP)
            &xiao_d GPIO_LAYER1 (GPIO_ACTIVE_LOW | GPIO_PULL_UP) 
            &xiao_d GPIO_LAYER2 (GPIO_ACTIVE_LOW | GPIO_PULL_UP) 
            &xiao_d GPIO_LAYER3 (GPIO_ACTIVE_LOW | GPIO_PULL_UP) 
        >;
    };

    default_transform: matrix_transform {
        compatible = "zmk,matrix-transform";
        rows = <3>;
        columns = <1>;
        map = <
            RC(0,0)
            RC(0,1)
            RC(0,2)
            RC(0,3)
            RC(0,4)
        >;
    };

    keymap {
        compatible = "zmk,keymap";
        layer_000 {
            bindings = <
                &mt L0_HOLD L0_TAP
                &td_mt
                &mo layer_100
                &mo layer_010
                &mo layer_001
            >;
        };
        layer_001 {
            bindings = <
                &mt L1_HOLD L1_TAP
                &td_mt
                &mo layer_101
                &mo layer_011
                &none
            >;
        };
        layer_010 {
            bindings = <
                &mt L2_HOLD L2_TAP
                &td_mt
                &mo layer_110
                &none
                &mo layer_011
            >;
        };
        layer_011 {
            bindings = <
                &mt L3_HOLD L3_TAP
                &td_mt
                &mo layer_111
                &none
                &none
            >;
        };
        layer_100 {
            bindings = <
                &mt L4_HOLD L4_TAP
                &td_mt
                &none
                &mo layer_110
                &mo layer_101
            >;
        };
        layer_101 {
            bindings = <
                &mt L5_HOLD L5_TAP
                &td_mt
                &none
                &mo layer_111
                &none
            >;
        };
        layer_110 {
            bindings = <
                &mt L6_HOLD L6_TAP
                &td_mt
                &none
                &none
                &mo layer_111
            >;
        };
        layer_111 {
            bindings = <
                &mt L7_HOLD L7_TAP
                &td_mt
                &none
                &none
                &none
            >;
        };
    };
};